/* font-family: 'Noto Sans', sans-serif; */
/* font-family: 'Roboto Mono', monospace; */
/* font-family: 'Xanh Mono', monospace; */
:root {
    /* Colors */
    --light-green: #4E6C50;
    --green: #395144;
    --vanilla: #FAD6A5;
    --brown: #9F8772;
    --font-color: #FFF8EA;

    /* Font */
    --main-font: 'Noto Sans', sans-serif;
    --roboto: 'Roboto Mono', monospace;
    --vintage-font: 'Xanh Mono', monospace;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li,
a {
    text-decoration: none;
}

/* Header */
.site-header {
    width: 100%;
    min-height: 100vh;
    background-image: url("../assets/images/rally-car-meetup2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.nav {
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-between;
}

.nav__links-wrapper li {
    display: inline;
    margin-right: 1rem;
}

.nav__menu-close-btn,
.nav__menu-open-btn {
    display: none;
    cursor: pointer;
}


.nav__links-wrapper {
    transition: 0.5s;
    transition-timing-function: ease-out;
}


@media only screen and (max-width:700px) {
    .nav__links-wrapper {
        position: absolute;
        background-color: red;
        height: 100vh;
        top: 0;
        right: -1080px;
        width: 50%;
        z-index: 10;
    }

    .nav__links-wrapper ul {
        padding: 20px;
    }

    .nav__links-wrapper ul li {
        display: block;
        margin: 1rem;
    }

    .nav__menu-close-btn {
        display: block;
        margin: 1rem;
    }

    .nav__menu-open-btn {
        display: block;
    }
}